<!DOCTYPE html>
<html lang="en">
  <head>
		 <title>Go Dutch</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}" />
	<style>
		body {font-family: "Times New Roman", Georgia, Serif;}
	h1, h2, h3, h4, h5, h6 {
	  font-family: "Playfair Display";
	  letter-spacing: 5px;
}
</style>
  </head>
  <body>
    
<!-- Navbar (sit on top) -->
<div class="information">
    <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
          <a href="#home" class="w3-bar-item w3-button w3-xxlarge">Go Dutch</a>
        </div>
      </div>
	 </div>
    <div class="grid body1">
      <div class="grid-item">
        <div class="card">
          <div class="card-content">
            <h1 class="card-header"><strong> Suchith Pannati </strong></h1>
            <p class="card-text">
			<br/> <a href="mailto:suchith2eknath@gmail.com">suchith2eknath@gmail.com</a>
			  <br/>Linkedin Profile
			  <br/>Github Profile
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <div class="card-content">
            <h1 class="card-header"><strong>Sahaja Puligadda</strong></h1>
            <p class="card-text">
				<br/> <a href="mailto:sahaja.puligadda@gmail.com">sahaja.puligadda@gmail.com</a>
				<br/>Linkedin Profile
				<br/>Github Profile
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <div class="card-content">
            <h1 class="card-header"><strong> Karthik Kalavena </strong></h1>
            <p class="card-text">
				<br/> <a href="mailto:kalavenakarthik@gmail.com">kalavenakarthik@gmail.com</a>
				<br/><a href="https://www.linkedin.com/in/karthik-kalavena-9306731b5/" target="_blank">Linked in</a> 
			   <br/><a href="https://github.com/Karthik468/" target="_blank">Github</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
