<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7f3903742b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/Gtiles.css">
    
</head>
<body>
    <div class="content">
      <div class="xyz">
        <!-- <div class="card-deck"> -->
        <!-- <div class="card-group card-deck"> -->
        <div class="card h-100 w-100">
          <div class="card-body ">
            <h5 class="card-title pd-5">Suchith Suchith Karthik Sahaja kljsdiljfeusfhu</h5>
            <h6 class="card-subtitle mb-2 text-muted pd-5">Card subtitle</h6>
            <p class="card-text pd-5">Paid: 200/-<br>Consumed:300/-<br>Net: -100/-</p>
            <!-- <a href="#" class="card-link">Edit participant</a> -->
          </div>
          <div class="view">
            <i class="fas fa-info"></i>
            <i class="far fa-edit"></i>
            </div>
        </div>
        <div class="card  h-100 w-100">
          <div class="card-body">
            <h5 class="card-title pd-5">Suchith</h5>
            <h6 class="card-subtitle mb-2 text-muted pd-5">Card subtitle</h6>
            <p class="card-text pd-5">Paid: 200/-<br>Consumed:300/-<br>Net: -100/-</p>
            <a href="#" class="card-link">Edit participant</a>
          </div>
          <div class="view">
            <i class="fas fa-info"></i>
            <i class="far fa-edit"></i>
            </div>
        </div>
        <div class="card h-100 w-100">
          <div class="card-body">
            <h5 class="card-title pd-5">Suchith</h5>
            <h6 class="card-subtitle mb-2 text-muted pd-5">Card subtitle</h6>
            <p class="card-text pd-5">Paid: 200/-<br>Consumed:300/-<br>Net: -100/-</p>
            <a href="#" class="card-link">Edit participant</a>
          </div>
          <div class="view">
            <i class="fas fa-info"></i>
            <i class="far fa-edit"></i>
            </div>
        </div>
        <div class="card h-100 w-100">
          <div class="card-body">
            <h5 class="card-title pd-5">Suchith</h5>
            <h6 class="card-subtitle mb-2 text-muted pd-5">Card subtitle</h6>
            <p class="card-text pd-5">Paid: 200/-<br>Consumed:300/-<br>Net: -100/-</p>
          </div>
          <div class= "view">
            <i class="fas fa-info"></i>
            <i class="far fa-edit"></i>
          </div>
        </div>
        <div class="card h-100 w-100" >
          <div class="card-body">
            <h5 class="card-title pd-5">Suchith</h5>
            <h6 class="card-subtitle mb-2 text-muted pd-5">Card subtitle</h6>
            <p class="card-text pd-5">Paid: 200/-<br>Consumed:300/-<br>Net: -100/-</p>
          </div>
        </div>
        <div class="card h-100 w-100" >
          <div class="card-body">
            <h5 class="card-title pd-5">Suchith Karthik Sahaja kljsdiljfeusfhu</h5>
            <h6 class="card-subtitle mb-2 text-muted pd-5">Card subtitle</h6>
            <p class="card-text pd-5">Paid: 200/-<br>Consumed:300/-<br>Net: -100/-</p>
          </div>
          <div class="view">
            <i class="fas fa-info"></i>
            <i class="far fa-edit"></i>
            </div>
        </div>
     <!-- </div> -->
    <!-- </div> -->
    </div>
    </div>
  </div>
    </div>   
</body>
</html>