{% extends 'Gbase.html' %} 
{% set active_page = "participants" %}


{% block content %}
<div class="xyz">
  
  {% for participant in participants %}
      <div class="card h-100 w-100">
         <div class="card-body">
            <h5 class="card-title pd-5">
                {{ participant[2]}}
            </h5>
      <h6 class="card-subtitle mb-2 text-muted pd-5">{{ participant[3] }}</h6>
      <p class="card-text pd-5">
        Paid: {{ participant[4] }}/-<br />Consumed: {{ participant[5] }}/-<br />Net: {{ participant[6] }}/-
      </p>
      <!-- <a href="#" class="card-link">Edit participant</a> -->
    </div>
    <div class="view">
      <a href="{{ url_for('edit_participant',pool_link=pool_link, uid=participant[0]) }}"><i class="far fa-edit"></i></a>
    </div>
   </div>
   {% endfor %} 

</div>
<a href="{{url_for('add_participant',pool_link = pool_link)}}"class="plus-button"></a>
{% endblock %}
